@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Special+Elite&display=swap');




:root{

    --primary-color: #F472B6;
    --secondary-color: #F9A8D4;
    --primary-gray: #E5E7EB;
    
}
body{

    
    font-family: 'Dancing Script', cursive;
    font-family: 'Special Elite', cursive;
    background: linear-gradient(var(--primary-color),var(--secondary-color));
    margin: auto;



}
/* .nav-header{
    width: 70%;
    margin: auto;
    
    
} */




.nav-text{
   
    text-align: center;
    padding: 2rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
}
.section{
    
    margin: 0rem auto;
    width: 80%;
    text-align: center;    
}



#txt-input, #txt-output{

    width: 50%;
    height: 10vh;
    border: 2px solid black;
    margin: 1rem ;
    padding:1rem;
    background-color: var(--primary-gray);
}


.bold-output{
    font-weight: bold;
    margin: 1rem ;
    font-size: large;
}


.button{
    width: 70%;
    margin: auto;
    
}

.button #btn-translate{
    background: var(--primary-color);
    border: 2px solid black;
    border-radius: 0.5rem;
    height: 3rem;
    width: 10rem;
    margin: 0rem ;
    font-weight: bolder;
    font-size: large;
    font-family: 'Dancing Script', cursive;
    font-family: 'Special Elite', cursive;
    
}

.footer{
    
    text-align: center;
    margin: auto;
    width: 70%;
    
}

.footer .footer-header{
    font-weight: bold;
    width: 40%;
    margin: auto;
    text-align: center;
    
    
}

.footer .footer-text{
    width: 40%;
    margin: auto;
    font-size: large;
    
    
}



